<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a>Natxo's Blog</a>
      by <a>Natxo Macías</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Acerca de Natxo's Blog", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>